@using FoodCorner.Areas.Client.ViewModels.Home
@model List<ProductListItemViewModel>


@foreach (var item in Model)
{
    <div data-aos="fade-up" class="cart-img">
        <div class="c-img-c">
            <a asp-route="client-single-index" asp-route-id="@item.Id">
                <img class="pamada"
                 src="~/@item.MainImgUrl"
                 alt="">
            </a>
            @if (item.DiscountPercent != null)
            {
                <div class="endirim">
                    @item.DiscountPercent% OFF
                </div>
            }
            <div class="add-cart">
                <div class="add-cart-text">
                    <a asp-route="client-basket-add" asp-route-id="@item.Id" class="add-product-to-basket-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="cart-eyes">
                    <a asp-route="Product-GetModel" asp-route-id="@item.Id" class="js-show-modal1"><i class="fa-solid fa-eye"></i></a>
                </div>
                <div class="add-cart-text">
                    <a asp-route="client-wishlist-add" asp-route-id="@item.Id" class="add-product-to-wishlist add-wishlist"><i class="fa-solid fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="cart-text text-start mt-3">
            <a asp-route="client-single-index">@item.Name</a>
            <div class="price">
                @if (item.DiscountPrice != null)
                {
                    <span class="oldprice">₼@item.Price</span>
                    <span class="newprice">₼@item.DiscountPrice</span>
                }
                else
                {
                    <span class="newprice">₼@item.Price</span>
                }

            </div>
        </div>
    </div>
}
