@using FoodCorner.Areas.Client.ViewModels.Basket;
@model List<BasketCookieViewModel>
    
<ul class="header-cart-wrapitem w-full">
    @foreach (var item in Model)
    {
        <li class="header-cart-item d-flex justify-content-between align-items-center flex-w flex-t m-b-12">
            <div class="remove-basket">
                <a asp-route="client-basket-delete" asp-route-productId="@item.Id" asp-route-sizeId="@item.SizeId" class="remove-product-to-basket-btn" style="color:black;"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="">
                <img style="width:50px; height:70px; object-fit:cover;" src="~/@item.ImageUrl" alt="IMG">
            </div>

            <div class="header-cart-item-txt p-t-8">
                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                    @item.Title
                </a>
                <p>Person Size : @item.PersonSize</p>
                @if (item.DisCountPrice == 0)
                {
                    <span class="header-cart-item-info">
                        @item.Quantity x ₼@item.Price
                    </span>
                }
                else
                {
                    <span class="header-cart-item-info">
                        @item.Quantity x ₼@item.DisCountPrice
                    </span>
                }
            </div>
        </li>
    }
</ul>

<div class="w-full">
    <div class="header-cart-total w-full p-tb-40">
        Total: ₼@Model!.Sum(pcvm => pcvm.Total)
    </div>

    <div class="header-cart-buttons flex-w w-full">
        <a asp-route="client-cart-index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
            View Cart
        </a>

        <a asp-route="client-order-checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
            Check Out
        </a>
    </div>
</div>
