@using FoodCorner.Areas.Client.ViewCompanents;
@using FoodCorner.Areas.Client.ViewModels.Shop;
@model IndexViewModel
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Client/assets/images/Product/SekaTort2.jpeg');   background-position: center; background-repeat: no-repeat; background-size: cover;">
	<h2 class="ltext-105 cl0 txt-center">
		Shop
	</h2>
</section>

<!--Filter-->
<div id="filter-area" class="bg0 m-t-23">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<a asp-route="client-shop-sort" class="select-catagory stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
					All Products
				</a>
				@foreach (var item in Model.Categories)
				{
					<a asp-route="client-shop-sort" asp-route-categoryId="@item.Id" class="select-catagory stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 ">
						@item.Title
					</a>
				}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="filter-btn flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>

				<div class="search-btn flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
				</div>
			</div>
			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="col-lg-4 filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul class="a-tag">
							<li class="p-b-6">
								<a asp-route="client-shop-sort" asp-route-sort="1" class="sort-product filter-link stext-106 trans-04">
									Sort
									By:Name (A - Z)
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route="client-shop-sort" asp-route-sort="2" class=" sort-product filter-link stext-106 trans-04">
									Sort
									By:Name (Z - A)
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route="client-shop-sort" asp-route-sort="3" class="sort-product filter-link stext-106 trans-04">
									Newness
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route="client-shop-sort" asp-route-sort="4" class="sort-product filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a asp-route="client-shop-sort" asp-route-sort="5" class="sort-product filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-4  filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>
						<div class="range-slider">
							<div class="range-value d-flex justify-content-between align-items-center">
								<span class="rangeValues1"></span>
								<span class="rangeValues2"></span>
							</div>
							<input class="searchproductPrice" value="1" min="1" max="1000" step="1" type="range">
							<input class="searchproductPrice2" value="1000" min="1" max="1000" step="1" type="range">

							<a class="shoppage-url" asp-route="client-shop-sort">
							</a>
						</div>
					</div>


						<!-- <ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>
						</ul> -->

					<div class="col-lg-4  filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Tags
						</div>



						<div class="flex-w p-t-4 m-r--5">

							<a asp-route="client-shop-sort" class="select-tag flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								All(@Model.Tags.Count())
							</a>
						    @foreach (var item in Model.Tags)
							{

								<a asp-route="client-shop-sort" asp-route-tagId="@item.Id" class="select-tag flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									@item.Title
								</a>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--All Products-->
<section id="explore">
	<div class="container">

		<div class="ps-carts">
			<div class="cart-box d-flex flex-wrap justify-content-between align-items-center shopPageProduct">
				@await Component.InvokeAsync(nameof(ShopPageProduct))
			</div>
			<div class=" mt-5 mb-5 flex-l-m flex-w w-full p-t-10 m-lr--7">
				<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
					1
				</a>

				<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
					2
				</a>
			</div>

		</div>
	</div>
</section>

	@section sripts
	{
	  <script asp-append-version="true" src="~/Client/assets/js/ProductFilter.js"></script>
	}