@using FoodCorner.Areas.Admin.ViewModels.Address
@model List<ListItemViewModel>

<div class="col-lg-12">
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Contacts</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>PhoneNumber</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nav in Model)
                        {
                            <tr>
                                <td>@nav.City , @nav.Street</td>
                                <td>@nav.PhoneNumber</td>
                                <td>@nav.Email</td>
                                <td class="text-end d-flex">
                                    <a asp-route="admin-contactus-update" asp-route-id="@nav.Id"><i class="las la-pen text-dark font-16"></i></a>
                                    <form method="POST" asp-route="admin-contactus-delete" asp-route-id="@nav.Id" id="book-form-@nav.Id"></form>
                                    <button style="background-color:none; border:none;" type="submit" form="book-form-@nav.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>